:root {
  --color-primary: #b23242;
  --color-primary-light: #ff6175;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f0eeee;
  --color-grey-light-3: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
}

/* ++++ BASE STYLING */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary)
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.2s;
  letter-spacing: 2px;
  transition: all 0.2s;
  color: var(--color-primary);
  margin-bottom: 2rem;
}
@media only screen and (max-width: 900px) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .heading-secondary {
    font-size: 1.5rem;
  }
}

/* ++++ STYLING FOR USER DASHBOARD */
.container {
  background-color: #f4f2f2;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
  max-width: 100%;
  min-height: 50rem;
}

@media only screen and (max-width: 1100px) {
  .container {
    margin: 0;
    max-width: 100%;
  }
}

/* ++++++++STYLING FOR HEADER SECTION */
.container .header {
  font-size: 1.4rem;
  height: 10rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .container .header {
    flex-wrap: wrap;
    align-content: space-around;
    height: 15rem;
  }
}

.container .header .logo {
  height: 6rem;
  margin-left: 2rem;
}
.header .search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .header .search {
    order: 1;
    flex: 0 0 90%;
  }
}
.header .search .search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-grey-light-3);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3.25rem;
}
.header .search .search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light-3);
}

.header .search .search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-dark-2);
}

.header .search .search__button {
  border: none;
  background-color: var(--color-grey-light-3);
}

.header .search .search__button:active {
  transform: translateY(2px);
}

.header .user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
}
.header .user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.header .user-nav > *:hover {
  background-color: var(--color-grey-light-2);
}

.header .user-nav .user-nav__icon-box {
  position: relative;
}
.header .user-nav .user-nav__icon {
  font-size: 2rem;
  color: var(--color-grey-dark-2);
}

.header .user-nav .user-nav__notification {
  font-size: 1rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .user-nav .user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%;
  margin-right: 1rem;
}

/* ++++++++STYLING FOR CONTENT SECTION +++++++ */
.container .content {
  display: flex;
  min-height: 100vh;
}

@media only screen and (max-width: 900px) {
  .container .content {
    flex-direction: column;
  }
}

/* ++++++++STYLING FOR SIDEBAR SECTION +++++++ */
.content .sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content .sidebar .side-nav {
  font-size: 1.2rem;
  list-style: none;
  margin-top: 3.5rem;
}
@media only screen and (max-width: 900px) {
  .content .sidebar .side-nav {
    display: flex;
    margin-top: 0;
    flex-wrap: wrap;
  }
}
.content .sidebar .side-nav__item {
  position: relative;
}
@media only screen and (max-width: 900px) {
  .content .sidebar .side-nav__item {
    flex: 1;
    margin-bottom: 0;
  }
}
.content .sidebar .side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 900px) {
  .content .sidebar .side-nav__item:not(:last-child) {
    flex: 1;
    margin-bottom: 0;
  }
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s;
}

.side-nav__item:hover::before,
.side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}

.side-nav__item:active::before {
  background-color: var(--color-primary-light);
}

.content .sidebar .side-nav__link:link,
.content .sidebar .side-nav__link:visited {
  color: var(--color-grey-light-1);
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
}
@media only screen and (max-width: 900px) {
  .content .sidebar .side-nav__link:link,
  .content .sidebar .side-nav__link:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
}
.content .sidebar .side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
}
@media only screen and (max-width: 900px) {
  .content .sidebar .side-nav__icon {
    display: none;
  }
}

/* ++++++++STYLING FOR ADMIN POST LOANS REPAYMENT VIEW SECTION +++++++ */
.content .admin-repay-loans--view {
  flex: 1;
  font-size: 1.2rem;
  padding: 7rem 0;
}
@media only screen and (max-width: 600px) {
  .content .admin-repay-loans--view {
    padding: 3rem 0;
  }
}
/* ++++++STYLING FOR SECTION LOAN APPLICATION */
.admin-repay-loans--view .form-container {
  width: 40%;
  margin: 0 auto;
  background-color: #fff;
  padding: 5rem;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
}

@media only screen and (max-width: 900px) {
  .admin-repay-loans--view .form-container {
    display: block;
    width: 60%;
    margin: 5rem auto;
  }
}
@media only screen and (max-width: 600px) {
  .admin-repay-loans--view .form-container {
    display: block;
    width: 90%;
    margin: 5rem auto;
    border: none;
    box-shadow: none;
  }
}
.admin-repay-loans--view .form-container .flex-group {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 570px) {
  .admin-repay-loans--view .form-container .flex-group {
    display: block;
  }
}
.admin-repay-loans--view .form-container #loan-apply-form label {
  font-size: 1.8rem;
  font-weight: 500;
}
.admin-repay-loans--view .form-container .form-group {
  margin-bottom: 0.5rem;
}

.admin-repay-loans--view .form-container .form-group .input-group {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
}

.admin-repay-loans--view
  .form-container
  .form-group
  .input-group
  .form-control {
  width: 100%;
  padding: 1.2rem 2rem;
  margin: 1rem 0;
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: all 0.2s;
  font-size: 1.5rem;
}
/* ++++ STYLING FOR BUTTON*/
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(#222, 0.2);
}

.btn:focus,
.btn:active {
  outline: none;
  transform: translateY(-1rem);
  box-shadow: 0 0.5rem 1rem rgba(#222, 0.2);
}
.btn--block {
  display: block;
  width: 100%;
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 4px;
  font-weight: 400;
  margin-top: 5rem;
  letter-spacing: 3px;
}
